# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
.dart_tool/

# Node
node_modules

# Keep environment variables out of version control
.env

prisma-query-engine
dmmf.json
package-lock.json
pubspec.lock


*.diff

